*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: clamp(1rem, 1vw, 1.25rem);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

li {
  list-style: none;
}

h2 {
  font-size: 2rem;
}

h3 {
  padding-bottom: 1rem;
}

/* Nav */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}

@media all and (max-width: 425px) {
  nav {
    padding: 1rem;
  }
}

.nav-ul-container {
  display: inline-flex;
}

/* Name */
.name {
  font-size: 2.5rem;
  font-weight: 700;
}

/* Links */
.links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-container-li {
  list-style: none;
  margin: 0 0.45rem;
}

/* Icons */

.icons-container {
  display: inline-flex;
  justify-content: space-between;
}

.icons-container-li {
  list-style: none;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.25rem;
}

.icons-container-li a {
  width: inherit;
  height: inherit;
}

/* Section */

.sections-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  width: 87rem;
  padding: 1.75rem 1rem 1rem 1rem;
}

@media all and (max-width:425px) {
  section {
    width: 100%;
    padding: 1rem 0;
  }
}

section h2 {
  padding: 1rem;
}

/* Hero */

section#hero {
  background: black;
  height: 75vh;
  padding: 0 2.5rem;
  background: url('./stamp1.jpg');
  background-position: center;
  background-size: contain;
  object-fit: cover;
}

@media all and (max-width:425px) {
  section#hero {
    height: 35vh;
  }
}

.hero-p {
  color: white;
}

.hero-img {
  width: 50%;
}

.hero-p span {
  font-size: 2rem;
}


/* Portfolio */
section#portfolio article {
  padding: 1rem;
}

.ricardo-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Skills */

.section-skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 1rem 1rem;
  margin: 0 auto;
}

@media all and (max-width: 425px) {
  .section-skills {
    grid-template-columns: 1fr;
  }
}

.skill-container {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.skill-icon {
  width: 50px;
  height: auto;
  margin-right: 0.5rem;
}


/* 2Images */
.two-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 425px) {
  .two-images {
    grid-template-columns: 1fr;
  }
}

.two-images-div {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}


/* General Purpose CSS */

.pre-l-padding-medium {
  padding: 1rem;
}

.pre-l-margin {
  margin: 1rem;
}

/* Flexbox */

.pre-l-flex {
  display: flex;
}

.pre-l-flex--align-center {
  align-items: center;
}

.pre-l-flex--column {
  flex-direction: column;
}

.pre-l-flex--row {
  flex-direction: row;
}

.pre-l-flex--row-wrap {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.pre-l-flex--space-evenly {
  justify-content: space-evenly;
  align-items: center;
}

.pre-l-flex--space-between {
  justify-content: space-between;
  align-items: center;
}

.pre-l-card--horizontal {
  padding: 1rem;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
}

@media all and (max-width: 425px) {
  .pre-l-card--horizontal {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.pre-l-grid {
  display: grid;
}

.pre-l-padding-none {
  padding: 0;
}

.pre-l-margin-none {
  margin: 0;
}

.pre-c-card__left {
  font-size: 2rem;
}

.etihad2 {
  width: 78%;
}

@media all and (max-width: 425px) {
  .etihad2 {
    width: 100%;
  }
}